.menu
  = render 'side_bar'
.main
  = render 'header'
  .main__contents
    = render @messages
  .main__bottom
    = form_for [@group, @message], html: {id: 'new_message'}, class: 'main__bottom__form' do |f|
      = f.text_field :content, class: 'main__bottom__form--text', placeholder: 'type a message'
      .input#message_content
        = f.label :image, class: 'main__bottom__form--label' do
          = fa_icon 'picture-o', class: 'fa fa-image'
          = f.file_field :image, class: 'main__bottom__form--label--image'
        = f.submit 'Send', class: 'main__bottom__form--submit'
